<legend>Details</legend>

<p>
    ID
    <b>
        {{policy.ID}}
    </b>

</p>

<p>
    Policy Number

    <b>
        {{policy.PolicyNmber}}
    </b>
</p>

<p>
    Client Name
    <b>
        {{policy.ClientName}}
    </b>

</p>

<p>
    Client Surname
    <b>
        {{policy.ClientSurname}}
    </b>
</p>

<p>
    Date Joined
    <b>
        {{policy.DateJoined}}
    </b>
</p>




<a class="btn btn-info" ui-sref="main"> Main</a>